.app {
    max-width: 600px;
    margin: 0 auto 300px;
    padding: 20px 30px;
    background-color: #efefef;
    border-radius: 10px;
}

.todoList {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom:  1px solid #555;
}

/* Responsividade */
@media (max-width: 670px) {
    
    html {
        font-size: 87.5%;
    }
    
}